<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-signup.ejs") %>
<h2>LEAGUE</h2>
<ul>
    <% sports.events.forEach(element => { %>
        <li><%=element.shortName%></li>
    <% }) %>
</ul>
<%- include("../partials/footer.ejs") %>