<%- include("./partials/header.ejs") %>
<h1>404: File not found</h1>
<img src="https://giphy.com/gifs/boomerangtoons-dollar-richie-rich-baseball-243UHkbIOZJGj7FZ84" alt="Boomerang dizzy strike out"/>
<%- include("./partials/footer.ejs") %>