<%- include("./partials/header.ejs") %>
<%- include("./partials/nav-login") %>
<h1>404: File not found</h1>
<img src="https://watch.boomerang.com/watch/39/37" width="480" height="320" alt="Boomerang dizzy strike out"/>


<%- include("./partials/footer.ejs") %>