body {
    font-family: sans-serif;
    background-color: rgb(161, 161, 161);
}

nav {
    background-color: rgb(105, 162, 143);
    display: flex;
    border-bottom: 3px solid white;
}
.navHome, .navPicks, .navLeagues, .navLeaders, .navLogIOS {
    /* border: 3px solid black; */
    width: 20%;
    text-align: center;
}
a {
    text-decoration: none;
    color:rgb(61, 61, 61)
}

.formContainer {
    border: 3px solid hotpink;
    margin: 0 auto;
    display: flex;
}
.credsForm {
    border: 3px solid black;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credsInput {
    border-radius: 5px;
    margin: 5px 0;
    border: 2px solid hotpink;
    text-align: center;
}
.credsInput::placeholder {
    color: blue;
    text-align: center;
    background-color: blanchedalmond;
}
.credsButton {
    color:rgb(161, 161, 161);
    background-color: rgb(0, 0, 110);
    border-radius: 5px;
}
.credsButton:hover {
    cursor: pointer;
}
.pickContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eventName {
    width: 60%;
}
.oddsLogo {
    width: 40%;
    display: flex;
}
.eventName > p {
    color :rgb(0, 0, 110);
    margin: 0;
}
.gameStatus {
    width: fit-content;
    padding: 0 1vw;
}
.scheduled {
    border: 3px solid green;
    background-color: green;
    color: white;
}
.inProgress {
border: 3px solid blue;
background-color: blue;
color: white;
}
.final {
    border: 3px solid red;
    background-color: red;
    color: white;
}
.other {
    border: 3px solid yellow;
    background-color: yellow;
    color: white;
}

.awayTeamContainer, .homeTeamContainer {
    width: 50%;
    border: 3px solid orange;
    border-radius: 3px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.awayTeamLogo, .homeTeamLogo {
    height: 4vh;
}
.awayTeamContainer, .homeTeamContainer > p {
    color:rgb(61, 61, 61);
    margin: 0;
}
.score {
    text-align: center;
    font-size: 2vh;
}
.winner {
    font-style: italic;
    text-decoration: underline;
}
.myPicks {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pick {
    width: 60%;
    margin: 0;
    display: block;
}
.pickLogo {
    height: 4vh;
}
.pickStatus {
    border-radius: 4px;
    width: fit-content;
}
.scheduledPick {
    border: 3px solid green;
    background-color: green;
    color: white;
}
.pickInProgress{
    border: 3px solid blue;
    background-color: blue;
    color: white;
}
.pickWin {
    border: 3px solid green;
    background-color: green;
    color: white;
}
.pickLose {
    border: 3px solid red;
    background-color: red;
    color: white;
}