html {
    font-size: 1vw;
    box-sizing: border-box;
    background-image: url("../media/Ballpark-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
body {
    font-family: sans-serif;
    /* backdrop-filter: brightness(50%); */
}
nav {
    background-color: rgb(105, 162, 143);
    display: flex;
    border-bottom: 3px solid white;
}
.navHome, .navPicks, .navLeagues, .navLeaders, .navLogIOS {
    /* border: 3px solid black; */
    width: 20%;
    text-align: center;
}
a {
    text-decoration: none;
    color:rgb(61, 61, 61)
}

.formContainer {
    margin: 0 auto;
    display: flex;
}
.credsForm {
    border: 3px solid black;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credsInput {
    border-radius: 5px;
    margin: 5px 0;
    border: 2px solid hotpink;
    text-align: center;
}
.credsInput::placeholder {
    color: blue;
    text-align: center;
    background-color: blanchedalmond;
}
.credsButton {
    color:rgb(161, 161, 161);
    background-color: rgb(0, 0, 110);
    border-radius: 5px;
}
.credsButton:hover {
    cursor: pointer;
}
.pickList {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.recentPicks {
    width: fit-content;
    display: inline-block;
}
.allPicks {
    /* text-align: center; */
    font-size: 2.5rem;
    width: fit-content;
    display: inline-block;
}
.profileLink, .likeComment {
    background-color: #3c3c3c;
    color: rgb(233, 233, 233);
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: 1rem;
}
.likeButton {
    height: 0.5rem;
}
.pickReactions {
display: flex;
width: fit-content;
}
.league {
    font-size: 3rem;
    text-align: center;    
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.pickContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eventName {
    width: 50%;
    margin: 0.3rem 0;
}
.oddsLogo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.game {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.gameStatus {
    width: fit-content;
    padding: 0 0.3rem;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0.2rem 0 0.3rem 0;
    border-radius: 3px;
    color: rgb(233, 233, 233);
}
.scheduled {
    background-color: rgb(0, 125, 0);
}
.inProgress {
    background-color: rgb(0, 0, 125);
}
.final {
    background-color: rgb(125, 0, 0);

}
.other {
    background-color: rgb(200, 200, 0);
}
.teamContainer {
    width: 45%;
    background-color: rgb(213, 213, 213);
    border: 3px solid rgb(60, 60, 60);
    border-radius: 3px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}
.teamLoser {
    background-color: rgb(106, 106, 106);
    border: 3px solid rgb(60, 60, 60);
}
.spread {
    display: inline;
    margin: 0.2rem;
    text-align: center;
}

.pickValueInput {
    width: 5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    text-align: center;
    color: #3c3c3c;
    font-weight: bold;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
}
.pickValueInput::placeholder {
    font-size: 1rem;
    justify-content: center;
}
.pickButton {
    width: 5rem;
    border: none;
    bottom: 1px;
    cursor: pointer;
    background: #3c3c3c;
    color: rgb(233, 233, 233);
    width: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
}
.teamLogo {
    height: 6vh;
}
.teamContainer > p {
    color:rgb(61, 61, 61);
    margin: 0;
}
.score {
    text-align: center;
    font-size: 2rem;
}
.winner {
    font-weight: bold;
    color: rgb(233, 233, 233);
}
.profileContainer {
    display: flex;
    flex-direction: row;
}
.pickHistory {
    margin: 0 5rem;
}
.myPicks {
    width: 60%;
    margin-left: 5rem;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.userStats {
    position: fixed;
    right: 5rem;
    display: inline-block;
}
.pick {
    width: 60%;
    margin: 0;
    display: inline-block;
}
.pickLogo {
    height: 4vh;
    margin: 0 1.3rem 0 0.7rem;
}
.pickStatus {
    display: flex;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}
.pickStatus > p {
    margin: 0;
    color: rgb(233, 233, 233);
}
.scheduledPick {
    background-color: rgb(200, 200, 0);
}
.pickInProgress{
    background-color: rgb(0, 0, 125);
}
.pickWin {
    background-color: rgb(0, 125, 0);
}
.pickLose {
    background-color: rgb(125, 0, 0);
}


/* MODAL STYLING */
 .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal {
    width: 40rem;
    padding: 1.5rem;
    height: 22rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: 5px solid rgb(99, 99, 99);
    border-radius: 5px;
    z-index: 2;
  }
.modal > p {
    font-size: 0.9rem;
    color: #3c3c3c;
    margin: 0.4rem 0 0.2rem;
  }
.modalContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.gameNameContainer {
    width: 100%;
    position: relative;
    justify-content: space-between;
    display: flex;
  }
  .matchup {
    display: block;
    margin: 0;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}
.ballpark, .firstPitch {
      display: block;
      margin: 0;
      margin-bottom: 0.2rem;
      font-size: 1rem;
  }
.btn-close {
      display: flex;
      position: relative;
      cursor: pointer;
      padding: 0.5rem 0.5rem;
      right: 0;
      font-size: 1rem;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      height: 2rem;
      width: 2rem;
      border: none;
      background: #000000;
      color: rgb(233, 233, 233);
      border-radius: 50%;
  }
.probablesContainer {
    width: 50%;
    border: 3px soild green;
  }
.probablesHeader {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}
  .pitcherTeam {
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.pitcherInfo {
    margin: 0;
    margin-bottom: 0.3rem;
}
.teamLeadersContainer {
    width: 45%;
}
.headshot {
    height: 3rem;
    margin-bottom: .3rem;
}
.battingLeadersInfo {
    margin: 0;
    margin-bottom: 0.3rem;
}
.btn-open {
    border: none;
    bottom: 1px;
    cursor: pointer;
    background: #3c3c3c;
    color: rgb(233, 233, 233);
    width: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none;
  }