<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-signup.ejs") %>

<h2>Sign in for an account</h2>

<% if (message) {%>
    <p><%= message %></p>
    <% } %>


<form method="POST" action="/users/login">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required/>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Log in!</button>
</form>

<%- include("../partials/footer.ejs") %>