<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-login") %>
<h2>Sign up for an account</h2>

<div class="formContainer">
<form class="credsForm" method="POST" action="/members">
    <label for="username"></label>
    <input class="credsInput" type="text" name="username" id="username" placeholder="USERNAME" required/>
    <label for="email"></label>
    <input class="credsInput" type="email" name="email" id="email" placeholder="EMAIL" required/>

    <label for="password"></label>
    <input class="credsInput" type="password" name="password" id="password" placeholder="PASSWORD" required />

    <button class="credsButton" type="submit">Sign Up!</button>
</form>
</div>

<%- include("../partials/footer.ejs") %>