<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-login") %>
<h2>Sign up for an account</h2>

<form method="POST" action="/users">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required/>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Sign Up!</button>
</form>

<%- include("../partials/footer.ejs") %>