<%- include("../partials/header.ejs") %>
    <%- include("../partials/nav-login") %>
        <h1 class="appTitle">PICK'EM</h1>
        <div class="formContainer">
            <form class="credsForm" method="POST" action="/members">
                <h2 class="taglineTop">DISCOVER YOUR GAME. MAKE YOUR PICKS.</h2>
                <h2 class="taglineBtm">JOIN A COMMUNITY OF WINNERS.</h2>
                <h3 class="loginHeader">MEMBERS SIGN-UP</h3>
                <label for="username"></label>
                <input class="credsInput" type="text" name="username" id="username" placeholder="USERNAME" required />
                <label for="email"></label>
                <input class="credsInput" type="email" name="email" id="email" placeholder="EMAIL" required />

                <label for="password"></label>
                <input class="credsInput" type="password" name="password" id="password" placeholder="PASSWORD"
                    required />
                <input hidden type="number" name="points" value=100 />

                <button class="credsButton" type="submit">SIGN UP</button>
            </form>
        </div>
        <footer>
            <a href="https://www.linkedin.com/in/andrewbantly/">
                <p>LinkedIn </p>
            </a>
            <a href="https://github.com/andrewbantly">
                <p>GitHub </p>
            </a>
            <p>Developed by Andrew Bantly </p>
        </footer>
        <%- include("../partials/footer.ejs") %>